[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/bsatheeshme
[access "refs/for/refs/*"]
	read = group user/bsatheeshme
	push = group user/bsatheeshme
	label-Code-Review = -2..+2 group user/bsatheeshme
	label-Verified = -1..+1 group user/bsatheeshme
	rebase = group user/bsatheeshme
	removeReviewer = group user/bsatheeshme
	submit = group user/bsatheeshme
[access "refs/heads/*"]
	read = group user/bsatheeshme
	create = group user/bsatheeshme
	push = +force group user/bsatheeshme
	pushMerge = group user/bsatheeshme
[access "refs/tags/*"]
	push = group user/bsatheeshme
	push = +force group user/bsatheeshme
